<div class='knapsack-core'>
  <div>
    <span>knapsack size:</span>
    <input name='knapsackSize' [(ngModel)]="knapsackSize" (ngModelChange)='update()' type='number' required />
  </div>

  <div class='row label'>
    <div>Name</div>
    <div>Weight</div>
    <div>Value</div>
    <div class='button'><button (click)='clearAll()'>Clear</button></div>
  </div>

  <!-- Display all items -->
  <div  *ngFor="let item of knapsackService.items()"
        class='row {{knapsackService.solution().indexOf(item) != -1 ? "item-packed" : ""}}' >
    <div>{{item.name}}</div>
    <div>{{item.weight}}</div>
    <div>{{item.value}}</div>
    <div class='button'><button>X</button></div>
  </div>

  <!-- New item form -->
  <div class='row'>
    <div><input name='name' [(ngModel)]="new_item.name" type='text' placeholder='Name' required/></div>
    <div><input name='weight' [(ngModel)]="new_item.weight" type='number' placeholder='Weight' required/></div>
    <div><input name='price' [(ngModel)]="new_item.value" type='number' placeholder='Value' required/></div>
    <div><button (click)='addItem()'>Add</button></div>
  </div>
</div>
